<h3>Endpoints for <code>http://{{host}}</code></h3>

<table class="table table-bordered table-striped">
  <colgroup>
    <col class="col-sm-1"/>
  </colgroup>
  <thead>
    <tr>
      <th class="text-right">Method</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    {{#each availableRoutes}}
      {{#each methods}}
        <tr>
          <td class="text-right">
            <span class="label label-{{to_state this}}">{{this}}</span>
          </td>
          <td>
            <a href="{{../path}}">{{../path}}</a>
          </td>
        </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>

<footer>
  <ul class="list-inline small pull-right">
    <li>{{birthDate}}</li>
    <li>v{{version}}</li>
  </ul>
</footer>
